In [23]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import math
import scipy.stats as st

In [24]:
df=pd.read_csv("product_sorting.csv")
df.head()

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10

In [25]:
df.sort_values("rating",ascending=False).head()

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0
19,Alıştırmalarla SQL Öğreniyorum,Veri Bilimi Okulu,3155,4.8,235,200,31,4,0,0
5,Course_1,Instructor_2,4601,4.8,213,164,45,4,0,0
6,Course_2,Instructor_3,3171,4.7,856,582,205,51,9,9

In [26]:
#Sorting by Rating, Comment and Purchase 
df["purchase_count_scaled"]=MinMaxScaler(feature_range=(1,5)).fit(df[["purchase_count"]]).transform(df[["purchase_count"]])

In [27]:
df.head()

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,1.546694
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10,1.935248

In [28]:
df["commment_count_scaled"]=MinMaxScaler(feature_range=(1,5)).fit(df[["commment_count"]]).transform(df[["commment_count"]]) 
df.head()

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,commment_count_scaled
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,1.546694,1.884265
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10,1.935248,1.833984

In [29]:
df["weighted_sorting_score"]=df["purchase_count_scaled"]*26/100 + df["commment_count_scaled"]*32/100 + df["rating"]*42/100

In [30]:
df.sort_values("weighted_sorting_score",ascending=False).head()

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,commment_count_scaled,weighted_sorting_score
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.795104
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.249884
20,Course_9,Instructor_3,12946,4.5,3371,2191,877,203,33,67,2.070512,3.916342,3.681563
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24,2.066120,3.096229,3.501984
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,3.483494

In [35]:
#Bayes Ortalama Derecelendirme Puanı ( Bayesian Average Rating Score )
def bayesian_average_rating(n, confidence=0.95):
    if sum(n) == 0:
        return 0
    K = len(n)
    z = st.norm.ppf(1 - (1 - confidence) / 2)
    N = sum(n)
    first_part = 0.0
    second_part = 0.0
    for k, n_k in enumerate(n):
        first_part += (k + 1) * (n[k] + 1) / (N + K)
        second_part += (k + 1) * (k + 1) * (n[k] + 1) / (N + K)
    score = first_part - z * math.sqrt((second_part - first_part * first_part) / (N + K + 1))
    return score

In [36]:
df["bar_score"] = df.apply(lambda x: bayesian_average_rating(x[["1_point",
                                                                "2_point",
                                                                "3_point",
                                                                "4_point",
                                                                "5_point"]]), axis=1)

df.sort_values("weighted_sorting_score", ascending=False).head(20)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,commment_count_scaled,weighted_sorting_score,bar_score
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.795104,4.516038
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.249884,4.665857
20,Course_9,Instructor_3,12946,4.5,3371,2191,877,203,33,67,2.070512,3.916342,3.681563,4.480627
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24,2.066120,3.096229,3.501984,4.568162
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,3.483494,4.515210
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0,1.789374,2.958388,3.427921,4.641679
15,Uygulamalarla SQL Öğreniyorum,Veri Bilimi Okulu,11397,4.5,2353,1435,705,165,24,24,1.942127,3.033810,3.365772,4.454811
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10,1.935248,1.833984,3.022039,4.595674
11,Course_3,Instructor_4,24809,4.3,250,95,87,51,12,5,3.053749,1.210663,2.987387,3.877743
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,1.546694,1.884265,2.937105,4.482079
6,Course_2,Instructor_3,3171,4.7,856,582,205,51,9,9,1.260334,1.736021,2.857214,4.507970
9,Modern R Programlama Eğitimi,Veri Bilimi Okulu,6537,4.4,901,559,252,72,9,9,1.539317,1.775033,2.816233,4.431532
8,A'dan Z'ye Apache Spark (Scala & Python),Veri Bilimi Okulu,6920,4.7,214,154,41,13,2,4,1.571062,1.179454,2.759901,4.434911
5,Course_1,Instructor_2,4601,4.8,213,164,45,4,0,0,1.378857,1.178587,2.751651,4.634477
19,Alıştırmalarla SQL Öğreniyorum,Veri Bilimi Okulu,3155,4.8,235,200,31,4,0,0,1.259008,1.197659,2.726593,4.729128
13,Course_5,Instructor_6,6056,4.7,144,82,46,12,1,3,1.499451,1.118769,2.721863,4.218544
27,Course_15,Instructor_1,1164,4.6,98,65,24,6,0,3,1.093989,1.078890,2.561682,4.253937
28,Course_16,Instructor_13,2362,4.5,95,58,26,9,0,2,1.193282,1.076290,2.544666,4.199606
22,A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...,Veri Bilimi Okulu,3062,4.4,169,122,29,13,2,3,1.251300,1.140442,2.538280,4.391326
12,Course_4,Instructor_5,1901,4.3,376,218,113,34,8,3,1.155073,1.319896,2.528686,4.320764

In [34]:
df.sort_values("bar_score", ascending=False).head(20)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,commment_count_scaled,weighted_sorting_score,bar_score
19,Alıştırmalarla SQL Öğreniyorum,Veri Bilimi Okulu,3155,4.8,235,200,31,4,0,0,1.259008,1.197659,2.726593,4.729128
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.249884,4.665857
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0,1.789374,2.958388,3.427921,4.641679
5,Course_1,Instructor_2,4601,4.8,213,164,45,4,0,0,1.378857,1.178587,2.751651,4.634477
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10,1.935248,1.833984,3.022039,4.595674
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24,2.066120,3.096229,3.501984,4.568162
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.795104,4.516038
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,3.483494,4.515210
6,Course_2,Instructor_3,3171,4.7,856,582,205,51,9,9,1.260334,1.736021,2.857214,4.507970
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,1.546694,1.884265,2.937105,4.482079
20,Course_9,Instructor_3,12946,4.5,3371,2191,877,203,33,67,2.070512,3.916342,3.681563,4.480627
15,Uygulamalarla SQL Öğreniyorum,Veri Bilimi Okulu,11397,4.5,2353,1435,705,165,24,24,1.942127,3.033810,3.365772,4.454811
8,A'dan Z'ye Apache Spark (Scala & Python),Veri Bilimi Okulu,6920,4.7,214,154,41,13,2,4,1.571062,1.179454,2.759901,4.434911
9,Modern R Programlama Eğitimi,Veri Bilimi Okulu,6537,4.4,901,559,252,72,9,9,1.539317,1.775033,2.816233,4.431532
22,A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...,Veri Bilimi Okulu,3062,4.4,169,122,29,13,2,3,1.251300,1.140442,2.538280,4.391326
7,Veri Bilimi için İstatistik: Python ile İstati...,Veri Bilimi Okulu,929,4.5,126,88,26,9,0,3,1.074512,1.103164,2.522386,4.342189
12,Course_4,Instructor_5,1901,4.3,376,218,113,34,8,3,1.155073,1.319896,2.528686,4.320764
26,Course_14,Instructor_9,6027,4.0,176,103,52,16,3,2,1.497047,1.146511,2.436116,4.260377
27,Course_15,Instructor_1,1164,4.6,98,65,24,6,0,3,1.093989,1.078890,2.561682,4.253937
13,Course_5,Instructor_6,6056,4.7,144,82,46,12,1,3,1.499451,1.118769,2.721863,4.218544

In [38]:
df["weighted_bar_score"]=df["bar_score"]*60/100 + df["weighted_sorting_score"]*60/100
df.sort_values("weighted_bar_score",ascending=False)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,commment_count_scaled,weighted_sorting_score,bar_score,weighted_bar_score
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.795104,4.516038,5.586685
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.249884,4.665857,5.349445
20,Course_9,Instructor_3,12946,4.5,3371,2191,877,203,33,67,2.070512,3.916342,3.681563,4.480627,4.897314
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24,2.066120,3.096229,3.501984,4.568162,4.842088
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0,1.789374,2.958388,3.427921,4.641679,4.841760
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,3.483494,4.515210,4.799223
15,Uygulamalarla SQL Öğreniyorum,Veri Bilimi Okulu,11397,4.5,2353,1435,705,165,24,24,1.942127,3.033810,3.365772,4.454811,4.692350
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10,1.935248,1.833984,3.022039,4.595674,4.570628
19,Alıştırmalarla SQL Öğreniyorum,Veri Bilimi Okulu,3155,4.8,235,200,31,4,0,0,1.259008,1.197659,2.726593,4.729128,4.473433
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,1.546694,1.884265,2.937105,4.482079,4.451511
5,Course_1,Instructor_2,4601,4.8,213,164,45,4,0,0,1.378857,1.178587,2.751651,4.634477,4.431676
6,Course_2,Instructor_3,3171,4.7,856,582,205,51,9,9,1.260334,1.736021,2.857214,4.507970,4.419110
9,Modern R Programlama Eğitimi,Veri Bilimi Okulu,6537,4.4,901,559,252,72,9,9,1.539317,1.775033,2.816233,4.431532,4.348659
8,A'dan Z'ye Apache Spark (Scala & Python),Veri Bilimi Okulu,6920,4.7,214,154,41,13,2,4,1.571062,1.179454,2.759901,4.434911,4.316887
13,Course_5,Instructor_6,6056,4.7,144,82,46,12,1,3,1.499451,1.118769,2.721863,4.218544,4.164245
22,A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...,Veri Bilimi Okulu,3062,4.4,169,122,29,13,2,3,1.251300,1.140442,2.538280,4.391326,4.157764
11,Course_3,Instructor_4,24809,4.3,250,95,87,51,12,5,3.053749,1.210663,2.987387,3.877743,4.119078
7,Veri Bilimi için İstatistik: Python ile İstati...,Veri Bilimi Okulu,929,4.5,126,88,26,9,0,3,1.074512,1.103164,2.522386,4.342189,4.118744
12,Course_4,Instructor_5,1901,4.3,376,218,113,34,8,3,1.155073,1.319896,2.528686,4.320764,4.109670
27,Course_15,Instructor_1,1164,4.6,98,65,24,6,0,3,1.093989,1.078890,2.561682,4.253937,4.089372
28,Course_16,Instructor_13,2362,4.5,95,58,26,9,0,2,1.193282,1.076290,2.544666,4.199606,4.046563
26,Course_14,Instructor_9,6027,4.0,176,103,52,16,3,2,1.497047,1.146511,2.436116,4.260377,4.017896
21,Course_10,Instructor_10,723,4.5,130,68,47,9,3,3,1.057438,1.106632,2.519056,4.130611,3.989800
18,Course_8,Instructor_9,1039,4.4,37,22,9,6,0,0,1.083629,1.026008,2.458066,3.969783,3.856709
16,Course_6,Instructor_7,140,4.6,20,10,10,0,0,0,1.009117,1.011270,2.517977,3.823386,3.804817
17,Course_7,Instructor_8,4204,3.8,66,38,13,11,2,2,1.345952,1.051149,2.282315,3.911901,3.716530
31,Course_19,Instructor_16,231,4.0,41,17,13,7,2,2,1.016659,1.029476,2.273764,3.552886,3.495990
23,Course_11,Instructor_11,444,4.2,13,7,3,3,0,0,1.034313,1.005202,2.354586,3.415120,3.461824
29,Course_17,Instructor_14,661,3.1,116,53,22,25,9,7,1.052299,1.094495,1.925836,3.645479,3.342789
24,Course_12,Instructor_12,98,4.0,19,7,7,2,1,2,1.005636,1.010403,2.264794,3.139942,3.242842
25,Course_13,Instructor_12,185,3.4,42,9,11,16,3,3,1.012847,1.030342,2.021050,3.096734,3.070670
30,Course_18,Instructor_15,30,3.2,7,1,2,2,1,1,1.000000,1.000000,1.924000,2.365651,2.573791